.flexible{
    display: flex;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.welcome{
    width: 50%;
    padding: 1% 10%;
    margin-right: 5%;
    text-align: justify;

}
.salman img{
    width: 600px;
    padding:1%;
    padding-bottom:100%;
}
h1{
    font-size:60px;
}
span{
    color: orange;
}
.link{
    text-decoration: none;
    background-color:tomato;
    padding: 2% 4%;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}
.first-banner{
background-image: url(image/top-banner.png);
background-repeat: no-repeat;

}
.second-banner{
    background-image: url(image/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
     padding-top: 30%;
}
.experiences{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
h2{
    font-size: 40px;
}
.experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding:top 18%;
}
.ajaira{
    padding-bottom: 22%;
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 149) rgb(17, 0, 255));
    border-image-slice: 1;
}
footer{
    text-align: center;
}